[mysqld]
# basic
character_set_server = utf8mb4
collation_server     = utf8mb4_ja_0900_as_cs
default-time-zone    = SYSTEM
log_timestamps       = SYSTEM
max_connections      = 512

# General Log
general_log = 1
general_log_file = /var/log/mysql/mysql-query.log

# Error Log
log-error = /var/log/mysql/mysql-error.log

# Slow Query Log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 0
log_queries_not_using_indexes = 0

# innodb
innodb_buffer_pool_size        = 2G # ~75% of all memory
innodb_flush_method            = O_DIRECT
innodb_flush_log_at_trx_commit = 2

[mysql]
default-character-set = utf8

[client]
default-character-set = utf8mb4